@font-face {
  font-family: 'Bacon-Bad';
  src: url('Bacon_Bad.woff') format('woff'),
      url('Bacon_Bad.woff2') format('woff2'),
      url('Bacon_Bad.ttf') format('truetype');
}

html {
  font-size: 16px;
  background-image: url('background.jpg');
}
/* HEADER ELEMENTS */
header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#plate {
  position: relative;
  text-align: center;
}
#plate img {
  width: 80%;
}
#title {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 5em;
  max-width: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Bacon-Bad', Fallback, sans-serif;
  color: #f65656;
}
#tablecloth {
  position: relative;
  text-align: center;
}
#tablecloth img {
  width: 100%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  /* Used shadow code from w3schools example, then modified */
}
#tablecloth a {
font-size: 2em;
color: black;
}
#works {
  position: absolute;
  top: 40%;
  left: 20%;
}
#try {
  position: absolute;
  top: 40%;
  right: 20%;
}

/* INSTRUCTIONS SECTION */
#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  margin-top: 200px;
}
#pan {
  position: relative;
  text-align: center;
}
#pan img {
  width: 100%;
}
#pan p {
  position: absolute;
  top: 15%;
  right: 16%;
  max-width: 35%;
  color: #E6DBA0;
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
}

/* MACRO SECTION */
#macro-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 200px;
}
#macro-list img {
  width: 80%;
}
#macro-form {
  font-size: 1.5em;
  position: absolute;
  left: 25%;
  top: 12%;
  background-color: #EAE3CC;
  padding: 0 10px 30px;
  border-radius: 5%;
  width: 20%;
  height: 69%;
  text-align: center;
}
#macros {
  display: block;
  margin-top: 50px;
  margin-left: 80px;
}
#info {
  position: absolute;
  right: 25%;
  top: 12%;
  background-color: #EAE3CC;
  padding: 0 10px 30px;
  border-radius: 5%;
  width: 20%;
  height: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
}


/* FOOD SECTION */
#food-list img {
  width: 80%;
}
#food-list {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 30px;

}
#food-form {
  font-size: 1.5em;
  position: absolute;
  left: 25%;
  top: 12%;
  background-color: #EAE3CC;
  padding: 0 10px 30px;
  border-radius: 5%;
  width: 20%;
  height: 70%;
}
#food-info {
  position: absolute;
  font-size: 1.5em;
  right: 25%;
  top: 12%;
  background-color: #EAE3CC;
  border-radius: 5%;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 5px;
}
